*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #0b0b0c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-main);
  font-feature-settings: var(--font-feature-main);
}

button {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
