*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Atom Interphases";
  src: url("./Atom Interphases Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atom Interphases";
  src: url("./Atom Interphases Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #0b0b0c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-main);
  font-feature-settings: var(--font-feature-main);
}

button {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
